@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");

* {
    box-sizing: border-box;
    
}




.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="box-"] {
    float: left;
    padding: 15px;
}

html {
    font-family: "Poppins", sans-serif;
    background-color: var(--light-pink);
    
    
}
:root {
    --light-pink: #fff4ed;
    --dark-purple:rgb(89, 0, 255);
    --purple:rgb(157, 0, 255);
    --font-size-1: 40px;
    --font-size-2: 30px;
    --font-size-3: 25px;
    --font-size-3:20px;
    --fons-size-4:14px;

}

.first-page {
    display: flex;
    padding: 4vh 4vh;
    width: 100vh;
    height: 100vh;
    flex-direction: column;
    background-color:  var(--light-pink);
    color: var( --purple);
    justify-items: space-evenly;

    
}

.menu-container{

    display: flex;   
    flex-direction: row;
    width: 200px;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size-3);
    transition: all .40s ease;
    -webkit-transition: all .40s ease;

}

.menu-logo{

    display: flex;
    width: 100px;
    height: 100px;
    flex-direction: row;
    align-self: flex-start;
    background-color: transparent;
    transition: all .40s ease;
    -webkit-transition: all .40s ease;
   
}


.menu-title{
    display: flex;
    list-style: none;
    font-size:var(--font-size-2);
    justify-content: center;
    align-items: center;
    font-weight: 400;
    width: 100px;
    height: 100px;

    background-color: transparent;
    transition: all .40s ease;
    -webkit-transition: all .40s ease;
   
  
}
.title {
    text-align: center;
    font-size: 50px;
    font-weight: 300;
  }

.menu-container:hover, .drop-list {

    display: flex;
    list-style: none;
    width: 250px;
    height: 300px;
    cursor: pointer;
    flex-direction: column;
    border: 3px solid var(--dark-purple); 
    border-radius:10px;
    color:var(--light-pink);
    background-color:var(--purple);
    transition: all .40s ease;
    -webkit-transition: all .40s ease;
}


.drop-list {

 
    
    flex-direction: column;
    border: 3px solid var(--dark-purple); 
    color:var(--light-pink);
    border-radius:10px;
    justify-content: space-around; 
    margin-inline-start: 25px;
    width: 250px;
    height: 300x;
    cursor: pointer;
    transition: all .40s ease;
    -webkit-transition: all .40s ease;
}

.drop-list{
  display: none;
    flex-direction: column;
    color:var(--light-pink);
    margin-bottom: 20px;

    text-decoration: none;
}
.drop-list>li>a{
  text-decoration: none;
  color:var(--light-pink);
}
.front-page{
    display: flex;
     position: absolute; /*för att den skulle sluta röra sif när man öppnar menyn*/
     top:400px;

      flex-direction: column;
      text-align: center;
      align-self: center;
      justify-self: center;
    
      background-color: transparent;
      font-size: var(--font-size-2);
  
  }
  .ett, .tre{
    display: flex;
    flex-direction: column;
    background-color: var(--light-pink);
    color:  var( --purple);


  }
  .två, .fyra{
    display: flex;
    flex-direction: column;
    background-color:   var( --purple);
    color:var(--light-pink);

}
  .side-photo-item img{
  
    max-width: 80%;

  }

  p *{
    font-size: 16px;
  }



img {
    max-width: 100%;
}


.aside-container {
    border: 2px solid;
    border-color: var(--light-pink);
    border-radius: 5px;

    padding: 15px;
    color:var(--light-pink);
    text-align: center;
}

.footer {
    background-color: var(--dark-purple);
    color:var(--light-pink);
    text-align: center;
  
}
.footer p a{
    text-decoration: none;
    color:var(--light-pink);
    font-size: 18px;
    padding: 15px;
    cursor: pointer;
}
.info{
    display: flex;
    flex-direction: column;
    border: 2px solid;
    border-color: var(--purple);
    border-radius: 5px;
    background-color: var(--light-pink);
    padding: 15px;
    color:var(--dark-purple);
    text-align: center;
    font-size: 18px;
  
     
    

}
.info>ul>li{
    list-style: none;
    
}

/* For desktop: */
.box-1 {
    width: 10%;
}

.box-2 {
    width: 20%;
}
.box-2-5 {
    width: 25%;
}

.box-3 {
    width: 30%;
}

.box-4 {
    width: 40%;
}

.box-5 {
    width: 50%;
}

.box-6 {
    width: 60%;
}

.box-7 {
    width: 58.33%;
}

.box-8 {
    width: 66.66%;
}

.box-9 {
    width: 75%;
}

.box-10 {
    width: 100%;
}

.box-11 {
    width: 91.66%;
}

.box-12 {
    width: 100%;
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    [class*="box-"] {
        width: 100%;
    }
}